/* Police de caractère
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Regular.ttf") format("woff");
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/Quicksand-Bold.ttf") format("woff");
}

body {
    background-color: #fff;
    color: #2D375C;
    font-family: Lato, Helvetica, sans-serif;
}

.title {
    font-family: Quicksand;
    font-size: 2rem;
    padding: 0rem 1rem;
}

.title::after {
    position: relative;
    content: '';
    display: block;
    width: 6.25rem;
    height: 0.313rem;
    background: #92CFD0;
    top: 0.125rem;
    left: 0;
}

.subtitle {
    font-size: 1.125rem;
    padding: 0rem 1rem;
    line-height: 1.5rem;
}


/* Mobile first
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #E6E6E6;
    .header_mobile-logo {
        width: 100%;
        margin: auto;
        padding-left: 15px;
        img {
            width: 120px;
            height: 35px;
            padding-top: 5px;
        }
    }
    #header_menu-burger {
        width: 30px;
        height: 30px;
        padding-top: 5px;
        padding-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.header_desktop {
    display: none;
}

.appear {
    display: none;
}

.nav_mobile-list {
    &-element {
        list-style: none;
        line-height: 1.5rem;
    }
}

.a {
    text-decoration: none;
    position: relative;
    color: #2D375C;
    text-transform: uppercase;
}


/* Section Actualites
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container_actualites{
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .actualites_txt{
        text-align: center;
        font-family: Quicksand;
        font-size:1.875rem;
        padding: 0rem 1rem;
    }
    .actualites{

        &_cards{
             height: 32.563rem;
             border-radius: 0.5rem;
             background-color:rgb(238 238 238);
             display: flex;
             flex-direction: column;
             margin: 1em;
             box-shadow: rgba(0,0,0,0.5);

             &-title{
                font-size: 1.875rem;
                font-family: 'Lato';
                text-align: center;
            }
            &-img{
                height: 10.125rem;
                background:rgb(200 200 200);
            }
            &-texte{
                padding: 1em;
                font-size: 1.25rem;
                font-family: 'Lato';
            }
            &-btn{
                height: 3.188rem;
                width: 14.875rem;
                justify-content: center;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                margin: auto;
                margin-bottom: 1em;
                background: rgb(238 238 238);
                border:rgb(96 193 223) solid 2px;
                border-radius: 0.938rem;
                    .actualites_lien{
                    text-decoration: none;
                    font-family:Quicksand;
                    font-size: 1.563rem;
                    color: rgb(96 193 223) ;
                }
            }
        }

    }
}


/* Section Twitter
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.twitter_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 0;
    align-items: flex-start;

    &-api{
        width: 19rem; 
    }
}



.footer {
    position: absolute;
    height: 100vh;
    /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-image: url("../img/hab/Degrades/BLEUFONCE.png");
    background-size: 100% 100%;
    &_social {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 1rem 0;
        margin: 0;
        &--links {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            align-content: center;
            width: 100%;
            padding: 1rem;
            margin-top: 2rem;
            margin: 1rem;
            filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(237deg) brightness(109%) contrast(100%);
            &--sqr {
                height: 3.5rem;
                width: 3.5rem;
                padding: 0;
                margin-top: 0;
                margin: 0;
            }
        }
        &--btn {
            display: flex;
            &--contact {
                height: 4.5rem;
                width: 15.625rem;
                border-radius: 1.875rem;
                font-family: Lato;
                font-size: 1.25rem;
                background-image: url("../img/hab/Degrades/ROSE.png");
                background-size: 100% 100%;
                color: #fff;
                border: none;
                margin: 2rem;
            }
        }
    }
    &_content {
        &--text {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
        }
        &--title {
            font-family: Quicksand;
            color: #4DC0DF;
        }
    }
    &_copyright {
        position: absolute;
        bottom: 0.625rem;
        width: 100%;
        display: flex;
        justify-content: center;
        &--fine {
            font-size: 0.8rem;
        }
        &--fine a {
            text-decoration: none;
            color: #fff;
        }
    }
}

@media screen and (min-width: 1024px) {

    /* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .header_mobile {
        display: none;
    }
    .header_desktop {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 10% solid #000;
        padding-top: 1.3em;
        background-color: #e6e6e6;
        &-logo {
            margin: 0 2em;
            vertical-align: middle;
            img {
                width: 11.688rem;
                height: 3.438rem;
                margin-left: 0.8em;
            }
        }
        .nav_desktop {
            display: flex;
            &-list,
            .pages {
                color: #2d375c;
                list-style-type: none;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                padding: 0 30px 0 0px;
                font-size: 1.563rem;
            }
        }
    }
    /* Section Actualités
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container_actualites{
    
    .actualites_txt{
        margin-bottom: 6.813rem;
        margin-top: 4.313rem;
    }
    .actualites_cards{
        width: 29.188rem; 
        height: 32.563rem;
        display: inline-flex;
        box-shadow: 0 0.3em 4px 0 rgb(0,0,0,0.5);
        margin-bottom: 5.938rem; 
        margin-left: 5.375rem;
        margin-right: 5.375rem;

            
            &-btn{
                .actualites_lien{
                    text-decoration: none;
                    font-family:Quicksand;
                    font-size: 1.563rem;
                    color: rgb(96 193 223) ;
                }
            }
            &-btn:hover{
                background: url(/src/img/hab/Degrades/BLEU.png);
                background-size: 100% 100%;
                border: none;
                .actualites_lien{
                     color: white;
                }
            }
    }

}

    /* Section Twitter
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container_twitter{
    .twitter_cards{

        &-api{
            border-radius: 0.938rem;
            margin-left: 4.875rem;
            margin-right: 4.875rem;
        }
    }
}
    /* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .title {
        padding: 0 7.5rem;
        font-size: 1.875rem;
    }
    .subtitle {
        padding: 0 3.75rem;
        font-size: 1.25rem;
    }
    .footer {
        height: 18.75rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-top: 2rem;
        &_social {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            padding: 0rem;
            &--links {
                display: flex;
                justify-content: flex-end;
                margin: 0;
                padding: 0;
                margin: 0;
                &--sqr {
                    padding: 0 3.5rem 0 2rem;
                }
            }
            &--btn {
                &--contact {
                    cursor: pointer;
                }
            }
        }
        &_content {
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            flex-direction: row-reverse;
            padding-bottom: 5rem;
            &--text {
                margin: 0;
                padding: 0 1rem;
                font-size: 1.25rem;
                display: flex;
                align-items: flex-start;
            }
            &--title {
                font-size: 1.875rem;
            }
        }
    }
}