/* Police de caractère
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Regular.ttf") format("woff");
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/Quicksand-Bold.ttf") format("woff");
}

body {
    background-color: #fff;
    color: #2D375C;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

* {
    font-weight: unset;
}

.title {
    font-family: Quicksand;
    font-size: 2rem;
    padding: 0rem 1rem;
    &-right {
        font-family: Quicksand;
        font-size: 2rem;
        padding: 0rem 1rem;
        text-align: right;
        &::after {
            position: relative;
            content: '';
            display: block;
            width: 6.25rem;
            height: 0.313rem;
            background: #92CFD0;
            margin: 0.2rem 0 auto auto;
            border-radius: 30px;
            top: 0.5rem;
        }
    }
    &-center {
        font-family: Quicksand;
        font-size: 2rem;
        padding: 0rem 1rem;
        text-align: center;
        &::after {
            position: relative;
            content: '';
            display: block;
            width: 6.25rem;
            height: 0.313rem;
            background: #92CFD0;
            margin: 0 auto auto auto;
            top: 1rem;
            border-radius: 30px;
        }
    }
}

.title::after {
    position: relative;
    content: '';
    display: block;
    width: 6.25rem;
    height: 0.313rem;
    background: #92CFD0;
    top: 0.5rem;
    left: 0;
    border-radius: 30px;
}

.subtitle {
    font-size: 1.125rem;
    padding: 0rem 1rem;
    line-height: 1.5rem;
}

select {
    cursor: pointer;
    border: 0.1em solid rgb(77, 77, 77);
    border-radius: 0.2em;
}


/* Mobile first
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

#nav_mobile {
    background-color: #E6E6E6;
    padding: 3rem 0rem 1rem 0rem;
}

.header_mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #E6E6E6;
    z-index: 100;
    position: fixed;
    padding: 0.5rem 0rem;
    .header_mobile-logo {
        width: 100%;
        margin: auto;
        padding-left: 15px;
        img {
            width: 8rem;
            height: auto;
            padding-top: 5px;
        }
    }
    #header_menu-burger {
        width: 30px;
        height: 30px;
        padding-top: 5px;
        padding-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.appear {
    display: none;
}

.header_desktop {
    display: none;
}

.nav_mobile-list {
    &-element {
        list-style: none;
        line-height: 2rem;
    }
}

.a {
    text-decoration: none;
    position: relative;
    color: #2D375C;
    text-transform: uppercase;
}

.desktopLangFr {
    display: none;
}

.mobileLangFr {
    display: none;
}

.btn_lang {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #2D375C;
    cursor: pointer;
}


/* Section notre histoire
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.history {
    padding-top: 5rem;
    margin-bottom: 5rem;
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--text {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        &--img {
            height: 11.875rem;
            max-width: 90%;
            margin-top: 1.25rem;
            border-radius: 0.5rem;
            background-color: #C8C8C8;
        }
    }
}


/* Section notre ambition
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.ambition {
    width: 100%;
    height: auto;
    background-color: #F4F4F4;
    padding-top: 2rem;
    padding-bottom: 3rem;
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--content {
            width: 90%;
            height: 20.625rem;
            border-radius: 0.5rem;
            box-shadow: 0 3px 4px 0 #C8C8C8;
            margin: 1.25rem;
            &--img {
                width: 100%;
                height: 50%;
                background-color: #C8C8C8;
                border-radius: 0.5rem;
                z-index: 1;
            }
            &--text {
                text-align: center;
            }
        }
    }
}


/* Section notre equipe
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.team {
    padding-top: 2rem;
    padding-bottom: 3rem;
    &_container {
        padding-top: 2rem;
        &--content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 4rem 0;
            &--img {
                width: 14.375rem;
                height: 14.375rem;
                border-radius: 50%;
                background-color: #C8C8C8;
                margin-bottom: 4.375rem;
            }
            &--text {
                width: 90%;
            }
        }
    }
}


/* Section nos valeurs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.value {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #F4F4F4;
    &_container {
        padding: 1.875rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img {
            margin: 2rem;
            width: 8.75rem;
            width: 8.75rem;
            border-radius: 50%;
            &--background {
                position: absolute;
                z-index: 1;
            }
            &--details {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate( 0deg) brightness(100%) contrast(100%);
                width: 5.25rem;
                position: relative;
                margin: 1.8rem;
                z-index: 3;
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            width: 100%;
            &--p {
                margin-top: 5px;
                text-align: justify;
            }
            &--title {
                margin: 0;
            }
        }
    }
    &_container:nth-child(odd) {
        flex-direction: column;
    }
}


/* Section nos prix et distinctions
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.awards {
    padding-top: 2rem;
    padding-bottom: 3rem;
    &_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &--img {
            margin: 2.5rem;
            width: 25%;
            height: 25%;
            border-radius: 0.5rem;
        }
    }
}

.footer {
    position: absolute;
    height: 100vh;
    /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-image: url("../img/hab/Degrades/BLEUFONCE.png");
    background-size: 100% 100%;
    &_social {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 1rem 0;
        margin: 0;
        &--links {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            align-content: center;
            width: 100%;
            padding: 1rem;
            margin-top: 2rem;
            margin: 1rem;
            filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(237deg) brightness(109%) contrast(100%);
            &--twitter {
                height: 3.5rem;
                width: 3.5rem;
                margin-right: 0;
            }
            &--linkedin {
                height: 3.5rem;
                width: 3.5rem;
                margin-right: 0;
            }
        }
        &--btn {
            display: flex;
            &--contact {
                height: 4.5rem;
                width: 15.625rem;
                border-radius: 1.875rem;
                font-family: Lato;
                font-size: 1.25rem;
                background-image: url("../img/hab/Degrades/ROSE.png");
                background-size: 100% 100%;
                color: #fff;
                border: none;
                margin: 2rem;
            }
        }
    }
    &_content {
        &--text {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
        }
        &--title {
            font-family: Quicksand;
            color: #4DC0DF;
        }
    }
    &_copyright {
        position: absolute;
        bottom: 0.625rem;
        width: 100%;
        display: flex;
        justify-content: center;
        &--fine {
            font-size: 0.8rem;
        }
        &--fine a {
            text-decoration: none;
            color: #fff;
        }
    }
}

@media screen and (min-width: 1024px) {
    /* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .header_mobile {
        display: none;
    }
    .header_desktop {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 10% solid #000;
        padding: 2rem 0 0.5rem 0;
        background-color: #e6e6e6;
        &-logo {
            margin: -15px 15px;
            padding-bottom: 2rem;
            vertical-align: middle;
            img {
                width: 11.625rem;
                height: auto;
                margin-left: 0.8em;
            }
        }
        .nav_desktop {
            display: flex;
            &-list,
            .pages {
                color: #2d375c;
                list-style-type: none;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                margin: 0 30px 0 0px;
                font-family: 'Lato';
                font-size: 25px;
            }
        }
    }
    /* Les titres
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .title {
        padding: 0 7.5rem;
        font-size: 1.875rem;
        &-right {
            padding: 0 7.5rem;
        }
    }
    .subtitle {
        padding: 0 3.75rem;
        font-size: 1.25rem;
    }
    /* Section notre histoire
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .history {
        padding-top: 8rem;
        &_container {
            flex-direction: row-reverse;
            margin-top: 3.625rem;
            &--img {
                margin-left: 1.25rem;
                margin-top: 0;
            }
            &--text {
                display: flex;
                padding-left: 4rem;
                padding-right: 1.25rem;
            }
        }
    }
    /* Section notre ambition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .ambition {
        width: 100%;
        height: auto;
        background-color: #F4F4F4;
        &_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            &--content {
                width: 90%;
                height: 20.625rem;
                border-radius: 0.5rem;
                box-shadow: 0 3px 4px 0 #C8C8C8;
                margin: 1.25rem;
                &--img {
                    width: 100%;
                    height: 50%;
                    background-color: #C8C8C8;
                    border-radius: 0.5rem;
                    z-index: 1;
                }
                &--text {
                    text-align: center;
                }
            }
        }
    }
    /* Section notre equipe
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .team {
        padding-top: 8rem;
        &_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 2rem;
            &--content {
                width: 50%;
                margin: 4rem 0;
                &--img {
                    width: 14.375rem;
                    height: 14.375rem;
                    border-radius: 50%;
                    background-color: #C8C8C8;
                }
                &--text {
                    width: 50%;
                }
            }
        }
    }
    /* Section nos valeurs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .value {
        &_container {
            padding: 0 9.125rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            &--img {
                margin: 2rem;
                width: 8.75rem;
                width: 8.75rem;
                background: url(/src/img/hab/Ellipse.png);
                background-size: 100% 100%;
                &--details {
                    width: 5.25rem;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate( 0deg) brightness(100%) contrast(100%);
                }
            }
            &--text {
                display: flex;
                flex-direction: column;
                &--p {
                    margin-top: 5px;
                    text-align: justify;
                }
                &--title {
                    margin: 0;
                }
            }
        }
        &_container:nth-child(odd) {
            flex-direction: row-reverse;
        }
        &_title--right {
            margin: 0 0 0 auto;
        }
        &_text--right {
            margin: 0 0 0 auto;
        }
    }
    /* Section nos prix et distinctions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .awards {
        padding-top: 3.5rem;
        padding-bottom: 6.75rem;
        &_container {
            &--img {
                width: 15%;
                height: 15%;
                margin: 5rem;
            }
        }
    }
    /* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .footer {
        height: 18.75rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-top: 2rem;
        &_social {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            padding: 0rem;
            &--links {
                display: flex;
                justify-content: flex-end;
                margin: 0;
                padding: 0;
                margin: 0;
                &--twitter {
                    height: 3.5rem;
                    width: 3.5rem;
                    margin-right: 2rem;
                }
                &--linkedin {
                    height: 3.5rem;
                    width: 3.5rem;
                    margin-right: 5rem;
                }
            }
            &--btn {
                &--contact {
                    cursor: pointer;
                }
            }
        }
        &_content {
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            flex-direction: row-reverse;
            padding-bottom: 5rem;
            &--text {
                margin: 0;
                padding: 0 1rem;
                font-size: 1.25rem;
                display: flex;
                align-items: flex-start;
            }
            &--title {
                font-size: 1.875rem;
            }
        }
    }
}