/* Police de caractère
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Regular.ttf") format("woff");
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/Quicksand-Bold.ttf") format("woff");
}

body {
    background-color: #fff;
    color: #2D375C;
    font-family: Lato, Helvetica, sans-serif;
}

.title {
    font-family: Quicksand;
    font-size: 2rem;
    padding: 0rem 1rem;
}

.title::after {
    position: relative;
    content: '';
    display: block;
    width: 6.25rem;
    height: 0.313rem;
    background: #92CFD0;
    top: 0.125rem;
    left: 0;
}

.subtitle {
    font-size: 1.125rem;
    padding: 0rem 1rem;
    line-height: 1.5rem;
}


/* Mobile first
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Section notre solution
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.solution {
    height: auto;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img {
            width: 90vw;
            height: 35vh;
            border-radius: 1.875rem;
            background-color: #C8C8C8;
        }
    }
}


/* Section les avantages
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.benefits {
    height: auto;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 2rem;
    &_desktop {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    &_container {
        border-radius: 1.875rem;
        background-color: #FFF;
        height: auto;
        box-shadow: 0 3px 4px 0 #C8C8C8;
        margin: 1rem;
        &--img {
            display: none;
        }
        &--content {
            display: flex;
            flex-direction: column;
            width: 100%;
            &--title {
                font-family: Quicksand;
                font-size: 1.25rem;
                margin-left: 1em;
            }
            &--text {
                font-family: Lato;
                font-size: 1.25rem;
                margin-left: 1em;
            }
        }
    }
}


/* Section témoignages
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.testimonials {
    height: auto;
    margin: 0 auto;
    width: 100%;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img {
            width: 11.25rem;
            height: 11.25rem;
            border-radius: 6rem;
            background-color: #C8C8C8;
        }
        &--text {
            padding: 1rem 4rem;
        }
        &--content {
            display: block;
            width: 100%;
            padding: 1rem 4rem;
            font-weight: bold;
        }
        &--name,
        &--job {
            margin: 1rem auto auto 4rem;
            font-family: Quicksand;
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.swiper-slide:active {
    cursor: grabbing;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000!important;
}


/* Section nos partenaires scientifiques
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.partners {
    height: auto;
    width: 100%;
    padding-bottom: 3rem;
    &_container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &_container--form {
        height: 10.5rem;
        width: 13rem;
        border-radius: 1.875rem;
        margin: 1rem;
        background-color: #C8C8C8;
    }
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
    position: absolute;
    height: 100vh;
    /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-image: url("../img/hab/Degrades/BLEUFONCE.png");
    background-size: 100% 100%;
    &_social {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 1rem 0;
        margin: 0;
        &--links {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            align-content: center;
            width: 100%;
            padding: 1rem;
            margin-top: 2rem;
            margin: 1rem;
            filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(237deg) brightness(109%) contrast(100%);
            &--sqr {
                height: 3.5rem;
                width: 3.5rem;
                padding: 0;
                margin-top: 0;
                margin: 0;
            }
        }
        &--btn {
            display: flex;
            &--contact {
                height: 4.5rem;
                width: 15.625rem;
                border-radius: 1.875rem;
                font-family: Lato;
                font-size: 1.25rem;
                background-image: url("../img/hab/Degrades/ROSE.png");
                background-size: 100% 100%;
                color: #fff;
                border: none;
                margin: 2rem;
            }
        }
    }
    &_content {
        &--text {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
        }
        &--title {
            font-family: Quicksand;
            color: #4DC0DF;
        }
    }
    &_copyright {
        position: absolute;
        bottom: 0.625rem;
        width: 100%;
        display: flex;
        justify-content: center;
        &--fine {
            font-size: 0.8rem;
        }
        &--fine a {
            text-decoration: none;
            color: #fff;
        }
    }
}


/* Desktop
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (min-width: 1024px) {
    /* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .title {
        padding: 0 7.5rem;
        font-size: 1.875rem;
    }
    .subtitle {
        padding: 0 3.75rem;
        font-size: 1.25rem;
    }
    .footer {
        height: 18.75rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-top: 2rem;
        &_social {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            padding: 0rem;
            &--links {
                display: flex;
                justify-content: flex-end;
                margin: 0;
                padding: 0;
                margin: 0;
                &--sqr {
                    padding: 0 3.5rem 0 2rem;
                }
            }
            &--btn {
                &--contact {
                    cursor: pointer;
                }
            }
        }
        &_content {
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            flex-direction: row-reverse;
            padding-bottom: 5rem;
            &--text {
                margin: 0;
                padding: 0 1rem;
                font-size: 1.25rem;
                display: flex;
                align-items: flex-start;
            }
            &--title {
                font-size: 1.875rem;
            }
        }
    }
    /* Section nos partenaires scientifiques
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .partners {
        height: auto;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        &_container {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 5.5rem;
        }
        &_container--form {
            height: 10.875rem;
            width: 13.5rem;
        }
    }
    /* Section témoignages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .testimonials {
        height: auto;
        margin: 0 auto;
        margin-top: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        &_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            &--img {
                width: 11.25rem;
                height: 11.25rem;
                border-radius: 6rem;
                margin-left: 9.063rem;
                background-color: #C8C8C8;
            }
            &--text {
                padding: 1rem 4rem;
            }
            &--content {
                width: 60%;
                padding: 1rem;
            }
        }
    }
    /* Section les avantages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .benefits {
        height: auto;
        margin: 0 auto;
        width: 100%;
        background-color: #fff;
        padding-top: 11.625rem;
        &_desktop {
            display: flex;
            flex-direction: row;
            margin: 0 2.6rem;
            height: auto;
            width: auto;
        }
        &_container {
            display: flex;
            width: 50%;
            border-radius: 1.875rem;
            background-color: #FFF;
            height: auto;
            box-shadow: 0 3px 4px 0 #C8C8C8;
            margin-top: 2.5rem;
            &--img {
                display: block;
                height: auto;
                width: 35%;
                border-radius: 1.875rem;
            }
            &--content {
                display: flex;
                flex-direction: column;
                &--title {
                    font-family: Quicksand;
                    font-size: 1.25rem;
                    margin-right: 1rem;
                    margin-bottom: 2.5rem;
                    margin-left: 1.5rem;
                }
                &--text {
                    font-family: Lato;
                    font-size: 1.25rem;
                    margin-right: 1rem;
                    margin-left: 1.5rem;
                    line-height: 20px;
                }
            }
        }
    }
    /* Section notre solution
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .solution {
        height: auto;
        margin: 0 auto;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        &_container {
            margin: 4.75rem 0;
            &--img {
                width: 50%;
                height: 35vh;
                border-radius: 1.875rem;
                background-color: #C8C8C8;
            }
        }
        &_container:nth-of-type(1) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-around;
        }
        &_container:nth-of-type(2) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        &_container:nth-of-type(3) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
